.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

#left-h2, #right-h2 {
  float: left;
  width: 50%;
}


.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.info-label {
  float:left;
  margin-right: 20px;
}


.save-money {
  margin:auto;
  max-width: 800px;
}

.data-holder {
  float:right;
}

.skhole-saves-money {
  color: #0034a0;
}

.section-holder {
  width: 100%;
  position: relative;
  height: 25px;
}

.data-input-holder {
  width: 50px;
}

.section-breaker {
  background-color: #0034a0;
  color: #ffffff;
  padding: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#money-saved {
font-weight: bold;
}

.right-side, .left-side {
  float:left;
  width: 48%;
  position: relative;
  margin-right: 2%;
}


@media only screen and (max-width: 700px) {
  .right-side, .left-side {
    float:left;
    width: 95%;
    position: relative;
    margin-right: 0;
    margin-bottom: 25px;
  }
}


